<h1>Live Store Dashboard</h1>
<md-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Curr Orders">

      <md-content>
        <md-list>
          <md-subheader class="md-no-sticky">New Orders</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="order in new_orders">
            <img ng-src="{{order.user_picture}}" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ order.id }} | ${{order.total}} | {{order.username}}</h3>
              <h4>{{ order.shippingaddress }}</h4>
              <p>Driver: {{ order.drivername }}</p>
            </div>
          </md-list-item>
          <md-divider></md-divider>

          <md-subheader class="md-no-sticky">Orders Ready</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="order in ready_orders">
            <img ng-src="{{order.user_picture}}" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ order.id }} | ${{order.total}} | {{order.username}}</h3>
              <h4>{{ order.shippingaddress }}</h4>
              <p>Driver: {{ order.drivername }}</p>
            </div>
          </md-list-item>
          <md-divider></md-divider>

          <md-subheader class="md-no-sticky">Driver In Progress</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="order in inprogress_orders">
            <img ng-src="{{order.user_picture}}" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ order.id }} | ${{order.total}} | {{order.username}}</h3>
              <h4>{{ order.shippingaddress }}</h4>
              <p>Driver: {{ order.drivername }}</p>
            </div>
          </md-list-item>
          <md-divider></md-divider>

          <md-subheader class="md-no-sticky">Orders Delivered</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="order in delivered_orders">
            <img ng-src="{{order.user_picture}}" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ order.id }} | ${{order.total}} | {{order.username}}</h3>
              <h4>{{ order.shippingaddress }}</h4>
              <p>Driver: {{ order.drivername }}</p>
            </div>
          </md-list-item>
          <md-divider></md-divider>

        </md-list>
      </md-content>

    </md-tab>
    <md-tab label="Order Stats">
      <md-content class="md-padding" >
        <md-grid-list
              md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
              md-row-height-gt-md="1:1" md-row-height="2:2"
              md-gutter="12px" md-gutter-gt-sm="8px" >
          <md-grid-tile class="gray"
              md-rowspan="2" md-colspan="3" md-colspan-sm="1">
              <div google-chart chart="mostpopularcategories" style="height: 100%; width:100%;"></div>
            <md-grid-tile-footer>
              <h3>Most Popular Categories</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile class="red"
              md-rowspan="2" md-colspan="3" md-colspan-sm="1">
              <div google-chart chart="mostsolditems" style="height: 100%; width:100%;"></div>
            <md-grid-tile-footer>
              <h3>Most Sold Items</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile class="gray"
              md-rowspan="3" md-colspan="2" md-colspan-sm="1">
              <div google-chart chart="totalsalesperhour" style="height: 100%; width:100%;"></div>
            <md-grid-tile-footer>
              <h3>Revenue per Hour</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile class="gray"
              md-rowspan="3" md-colspan="2" md-colspan-sm="1">
              <div google-chart chart="totalordersperhour" style="height: 100%; width:100%;"></div>
            <md-grid-tile-footer>
              <h3>Orders per Hour</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile class="gray"
              md-rowspan="3" md-colspan="2" md-colspan-sm="1">
              <div google-chart chart="avgordersalesperhour" style="height: 100%; width:100%;"></div>
            <md-grid-tile-footer>
              <h3>Average Revenue per Hour</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile class="gray"
              md-rowspan="3" md-colspan="6" md-colspan-sm="1">
              <div google-chart chart="mostpopularcategoriesPerHour" style="height: 100%; width:100%;"></div>
            <md-grid-tile-footer>
              <h3>Most Popular Categories per Hour</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile class="green">
            <h1>{{totalitemssold}}</h1>
            <md-grid-tile-footer>
              <h3>Total Items Sold</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile class="green">
            <h1>${{totalsales}}</h1>
            <md-grid-tile-footer>
              <h3>Total Sales</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>
      </md-content>
    </md-tab>
    <md-tab label="Curr Drivers">
      <a href="#/map">View Map</a>
    </md-tab>
  </md-tabs>
</md-content>
