<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-button md-no-ink class="md-primary" ng-repeat="recom in recommendations track by $index" ng-click="searchRecommendation(recom)" >{{recom}}</md-button>
</section>
<div class='md-padding' layout="row" layout-wrap>
  <md-card style="width: 300px;" ng-repeat="product in products">
    <img ng-src="{{product.imageUrl}}" class="md-card-image" alt="user avatar" style="height: 350px">
    <md-card-content>
      <h2>{{product.name}}</h2>
      <p>$ {{product.price}}</p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button class="md-icon-button" aria-label="add">
        <md-icon md-svg-icon="assets/shopping_cart.svg" ng-click="addItem(product)"></md-icon>
      </md-button>
    </div>
  </md-card>
</div>
