<md-toolbar>
  <div class="md-toolbar-tools">
    <h1>
      <span><a href="/#/search" style="color: white">Fast Basket</a></span>
    </h1>

    <span flex></span>

    <md-autocomplete
        md-selected-item="ctrl.selectedItem"
        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
        md-search-text="ctrl.searchText"
        md-selected-item-change="ctrl.selectedItemChange(item)"
        md-items="item in ctrl.querySearch(ctrl.searchText)"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Search..." 
        style="width: 400px"
        ng-Keypress="ctrl.checkEnter($event)"
        >
      <md-item-template>
        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
      </md-item-template>
      <md-not-found>
        No products "{{ctrl.searchText}}" were found.
      </md-not-found>
    </md-autocomplete>


    <md-button class="md-icon-button" aria-label="cart">
      <md-icon md-svg-icon="assets/shoppingcart.svg" ng-click="toggleRight()" ng-hide="isOpenRight()" ></md-icon>
    </md-button>
    
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" >
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools" style="color: white">Shopping Cart</h1>
  </md-toolbar>
  <md-content ng-controller="RightCtrl" layout-padding>
    <div class="warehouse-cart-header">
      
    </div>
    <div class="cart-items">
      <table class="table">
        <tbody>
          <tr ng-repeat="item in shopCart track by $index">
            <td class="qty">
              <div>1</div>
            </td>
            <td>
              <div>{{item.name}}</div>
            </td>
            <td>
              <div>${{item.price}}</div>
            </td>
            <td>
              <md-button class="md-icon-button" aria-label="remove">
                <md-icon md-svg-icon="assets/close.svg" ng-click="removeItem(item, $index)" ></md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <md-button ng-click="checkout()" class="md-raised md-warn" ng-show="shopCart.length > 0">
      Checkout  ${{shopCartTotal}}
    </md-button>
    <span class="md-subhead" ng-show="shopCart.length === 0" >Empty Cart</span>
  </md-content>
</md-sidenav>