<md-toolbar>
  <div class="md-toolbar-tools">
    <h1>
      <span>FastBasket</span>
    </h1>

    <span flex></span>

    <md-autocomplete
        md-selected-item="ctrl.selectedItem"
        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
        md-search-text="ctrl.searchText"
        md-selected-item-change="ctrl.selectedItemChange(item)"
        md-items="item in ctrl.querySearch(ctrl.searchText)"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Search..." 
        style="width: 400px"
        ng-Keypress="ctrl.checkEnter($event)"
        >
      <md-item-template>
        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
      </md-item-template>
      <md-not-found>
        No products "{{ctrl.searchText}}" were found.
      </md-not-found>
    </md-autocomplete>
    
  </div>
</md-toolbar>
