<div class="col-lg-2" ng-init = 'socketConnect(); checkJobs()'>
  
</div>

<div class="col-lg-8" ng-cloak>
  <h1>Welcome driver</h1>
  <md-button class="md-raised md-primary" ng-click = "getJob()" ng-hide="hasJob">Give me a Job</md-button>
  <md-button class="md-raised md-warn" ng-click = "signOut()">Sign Out</md-button>

  <md-content class="md-padding" layout-xs="column" layout="column">
    <div flex-xs layout="column" ng-repeat="order in orders">

      <md-card  >
        <md-card-header style="padding-bottom: 40px">
          <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{order.picture}}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{order.name}}</span>
            <span class="md-subhead">{{order.shippingaddress}}</span>
            <span class="md-subhead">{{order.phone}}</span>
          </md-card-header-text>
        </md-card-header>

        <md-card-actions layout="row" layout-align="start center">
          <md-button id="orderReady_{{order.id}}" ng-click="doneOrderIsReady(order.id, order.phone)" class="md-raised" >Order is Ready</md-button>
          <md-button id="orderOnWay_{{order.id}}" ng-click="doneOrderIsOnItsWay(order.id, order.phone)" class="md-raised" >Order is on its way</md-button>
          <md-button id="orderDelivered_{{order.id}}" ng-click="doneOrderDelivered(order.id, order.phone)" class="md-raised" >Order delivered</md-button>
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="toggle">
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>

        <md-card-content>
          <span style="text-decoration: underline;" >Delivery Instructions</span>
          <div class="cart-items">
            <table class="table">
              <tr>
                <td>
                  {{order.driverinstructions}}
                </td>
              </tr>
            </table>
          </div>

          <span style="text-decoration: underline;" >Items Ordered</span>
          <div class="cart-items">
            <table class="table">
              <tbody>
                <tr ng-repeat="orderDetail in order.orderDetails">
                  <td class="qty">
                    <div>1</div>
                  </td>
                  <td>
                    <div>{{orderDetail.name}}</div>
                  </td>
                  <td>
                    <div>${{orderDetail.price}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <span style="text-decoration: underline;" >Total</span>
          <div class="cart-items">
            <table class="table">
              <tr>
                <td>
                  ${{order.total}}
                </td>
              </tr>
            </table>
          </div>
        </md-card-content>
      </md-card>

    </div>
  </md-content>
</div>

<div class="col-lg-2">
  
</div>