.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

.gridListdemoBasicUsage .gray {
  background: #f5f5f5;
}

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
 min-width: 350px !important;
 width: 50vw !important;
 max-width: 550px !important;
}

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; 
}
.buttondemoBasicUsage md-content {
  margin-right: 7px; 
}
.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; 
}
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; 
}

md-grid-list {
  margin: 8px; 
}
.gray {
  background: #f5f5f5; 
}
.green {
  background: #b9f6ca; 
}
.yellow {
  background: #ffff8d; 
}
.blue {
  background: #84ffff; 
}
.purple {
  background: #b388ff; 
}
.red {
  background: #ff8a80; 
}
md-grid-tile {
  transition: all 400ms ease-out 50ms; 
}